input, textarea {
    display: block;
    width: 100% !important;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: var(--red) solid 2px;
    font-family: var(--font-family);
}
input:active, input:focus, textarea:active, textarea:focus {
    border-color: var(--purple);
    box-shadow: 0 0 20px 0 #c3c3c380;
}

button {
    background-color: var(--red);
    border: var(--red) 2px solid;
    color: #fff;
    height: 40px;
    padding: 10px 20px;
    margin-top: 10px;
    width: max-content;
    cursor: pointer;
    font-family: var(--font-family);
}
button:hover, button:active {
    background-color: var(--purple) !important;
    border-color: var(--purple) !important;
    color: #fff !important;
    box-shadow: 0 0 20px 0 #c3c3c380;
}

label {
    font-size: 14px;
}



/* Login/Logout button */
button#login-btn {
    background: none !important;
    border: none !important;
    padding: 0;
    margin: 0;
}
button#login-btn:hover, button#login-btn:active {
    background: none !important;
    border: none !important;
    color: var(--yellow) !important;
    box-shadow: none !important;
}


/* Signin form */
form#signin > div {
    display: grid;
    grid-template-columns: [ first ] 49% [ line2 ] 49% [ end ];
    column-gap: 2%;
}


/* Login form */
form#login {
    display: grid;
    grid-template-columns: [ first ] 49% [ line2 ] 49% [ end ];
    column-gap: 2%;
}


/* Search bar */
form#searchbar {
    display: flex;
    align-items: flex-end;
    width: 55%;
    gap: 10px;
}
form#searchbar > * {
    width: 25% !important;
}
input#searchbar-search, input#searchbar-from, input#searchbar-to, button#searchbar-btn {
    background-color: #fff;
    height: 40px;
    padding: 10px;
    width: 100%;
    border: #fff solid 2px;
    color: #000;
    margin-bottom: 0;
}
input#searchbar-search:focus, input#searchbar-from:focus, input#searchbar-to:focus {
    border-color: var(--purple);
    box-shadow: 0 0 20px 0 #27272752;
}
label[for="searchbar-search"], label[for="searchbar-from"], label[for="searchbar-to"] {
    color: #fff;
}


/* Add message form */
form#new-message, form.new-reply {
    display: flex;
    flex-direction: column;
}
textarea#message-content, textarea.reply-content {
    min-height: 100px;
    max-height: 200px;
}


